*.pyc
*.cpython-311.pyc
db.sqlite3
.DS_Store
__pycache__/
.vscode
.env

_migrations/*
!_migrations/__init__.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
