<!DOCTYPE html>
<html lang="en">

<head>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load bootstrap_icons %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <title>{% block title %}Check Out{% endblock %}</title>
</head>
<style>
    @media (min-width: 979px) {
        #content {
        padding-top: 0px;
      }
    }
    #content {
      padding-top: 60px;
    }
</style> 
<body>
    {% block navbar %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" style="font-size: small">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size: medium" href="{% url "users:index" %}">Check Out</a>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" href="{% url "users:index" %}">{% bs_icon 'house-door' %}Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link active" href="{% url "notifications:notifications" %}">{% bs_icon 'bell' %}
                                {% if user.get_unread_notifications %}
                                <span class="rounded-circle" style="position: absolute;
                                top: 25 px;
                                right: 120 px;
                                padding: 5px 5px;
                                border-radius: 50%;
                                background: red;
                                color: white;
                                ">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                                {% endif %}
                            </a>
                        </li class="nav-item">
                        <li>
                            <a class="nav-link active" href="{% url "users:user_profile" %}">{% bs_icon 'person-gear' %}User Profile</a>
                        </li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "logout" %}">{% bs_icon 'box-arrow-left' %}Logout</a></li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "users:register" %}">{% bs_icon 'person' %}Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "users:login" %}">{% bs_icon 'box-arrow-right' %}Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>