<!DOCTYPE html>
<html lang="en">

<head>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load bootstrap_icons %}
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    @media (min-width: 979px) {
        #content {
        padding-top: 0px;
      }
    }
    #content {
      padding-top: 60px;
    }
</style> 
<body>
    {% block navbar %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "users:index" %}">Check Out</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavBar">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                    <a class="nav-link active" href="{% url "users:index" %}">{% bs_icon 'house-door' %}Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link active" href="{% url "users:user_profile" %}">{% bs_icon 'person-gear' %}User Profile</a>
                        </li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "logout" %}">{% bs_icon 'box-arrow-left' %}Logout</a></li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "users:register" %}">{% bs_icon 'person' %}Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "users:login" %}">{% bs_icon 'box-arrow-right' %}Log in</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>