{% extends "user/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="project">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">

<title>{{title}}</title>

<!-- bootstrap file -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- bootstrap file-->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- main css -->
<link rel="stylesheet" type="text/css" href="{% static "index.css" %}" />


<!-- message here -->

{% if messages %}
{% for message in messages %}

<script>
	alert("{{ message }}");
</script>

{% endfor %}
{% endif %}


</head>
{% block content %}
<body class="container-fluid">

{% include "user/base.html" %}
<div class="row">
	{% block start %}
	{% if user.is_authenticated %}
	<div class="container">
		<center><h1>Welcome back {{user.first_name}}!</h1></center>
		{% else %}
		<center><h1>Check Out</h1></center>
		{% endif %}
		<div>
			<center><button type="button" class="btn btn-info"><a href="{% url "libraries:library-list"%}">View Libraries</a></button></center>
		</div>
		</br>
	</div>
	{% endblock %}
	{% if user.is_authenticated and isfrontpage %}
	{% block subscriptions %}
		<div class="container">
			<div class="row">
				<div class="col-4">
					{% if subscriptions %}
						<center><h2>Your Subscriptions</h2></center>
					{% else %}
						<center>Looks like your not subscribed to any book clubs.</center>
					{% endif %}
					{% for club in subscriptions %}
						<div class="panel panel-default">
							<div class="row">
								<div class="panel-heading">
									<div class="col-sm-8">
										{% if club.admin == request.user %}
											<p class="text-primary">OWNER</p>
										{% else %}
											<p class="text-primary">MEMBER</p>
										{% endif %}
										 Club Name: {{club.name}} - Meeting Day: {{club.meetingDay}} - Current Boook: {{club.currentBook}}
									</div>
									<div class="col-sm-4">
										<div style="float: right;">
											{% if club.admin == request.user %}
												<a href="{% url 'edit_book_club' club.id %}" class="btn btn-primary">Edit Book Club</a>
											{% else %}
												<form method="POST" action="{% url 'users:unsubscribe' club.id %}">
													{% csrf_token %}
													<button type="submit" class="btn btn-warning">Unsubscribe</button>
												</form>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
							<div class="panel-body">
								{{club.description}}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endblock %}
	{% endif %}
	{% if not user.is_authenticated and isfrontpage %}
		<div class="container">
			<div class=".col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading">
							Login for to view subscriptions
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>
</body>
{% endblock %}
</html>