{% extends "user/index.html" %} {% load crispy_forms_tags %} {% block start %}
{% if not verify_code %}
{% if user_form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <div id="form_errors">
    {% for key, value in user_form.errors.items %}
    <strong>{{ value }}</strong>
    {% endfor %}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:50vh;">
  <legend class="border-bottom mb-4" style="font-size:24px">Profile Information:</legend>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="media">
      <div class="media-body">
          <h3 class="account-heading">{{ user_form.instance.username }}
              <small class="text-muted">({{ user_form.instance.status }})</small>
          </h3>
          <p class="text-secondary">{{ user_form.instance.first_name }} {{ user_form.instance.last_name }}</p>
          <p class="text-secondary">{{ user_form.instance.email }}</p>
      </div>
  </div>
    <div class="form-row">
      <div class="col-md-5">
        <div class="form-group">
          <label class="small mb-1">Username:</label>
          {{ user_form.username }}
          <label class="small mb-1">First Name:</label>
          {{ user_form.first_name }}
          <label class="small mb-1">Last Name:</label>
          {{ user_form.last_name }}
          <label class="small mb-1">Email:</label>
          {{ user_form.email }}
        </div>
        <br>
        <div class="form-group">
          <button name="update" type="submit" class="btn btn-dark btn-md">Save Changes</button>
          <button type="reset" class="btn btn-dark btn-md">Reset</button>
          <a href="{% url "users:password_change" %}" class="btn btn-dark btn-md">Change Password</a>
        </div>
      </div>
    </div>
  </form>
</div>
{% else %}
{% if email_send_failed %}
<div class="panel panel-danger">
	<div class="panel-heading">Email send failed, try again later.</div>
</div>
{% else %}
{% if validate_failed %}
<div class="panel-group">
	<div class="panel panel-danger">
		<div class="panel-heading">{{error_text}}</div>
	</div>
</div>
{% endif %}
<form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
	{% csrf_token %}
	<div class="form-group">
		<label for="exampleInputEmail1">A verification code has been sent to your email</label>
		<input type="Text" class="form-control" id="code" name="code" aria-describedby="Verification Code" placeholder="Verification Code">
	</div>
	<button type="submit" name="verify" class="btn btn-primary">Submit</button>
</form>
{% endif %}
{% endif %}
</div>
{% endblock start %}

