{% extends "user/base.html" %} {% block content %}
{% if messages %}
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
{% endif %}
<div class="form-content my-3 p-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
          <div class="card-header justify-content-center">
            <h3 class="font-weight-light my-4 text-center">
              Forgot your password?
            </h3>
            <p class="font-weight-light my-4 text-center">
              Enter your email below to reset.
            </p>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      class="form-control mb-3"
                      autocomplete="email"
                      maxlength="254"
                      required
                      id="id_email"
                      placeholder="Enter email"
                    />
                    <span> </span>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-10 offset-md-1">
                  <div class="form-group mt-0 mb-1">
                    <button
                      type="submit"
                      class="col-md-12 btn btn-dark"
                      id="reset"
                    >
                      Reset Password
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
