
{% extends "user/base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center" role="alert">
                <h4 class="alert-heading">Access Denied!</h4>
                <p>Sorry, you do not have the facilities for this.</p>
                <hr>
                <p class="mb-0">Please go back to your home page.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}