{% extends "user/base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./cards.css" type="text/css" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load
    bootstrap_icons %}
    <title>Edit Book Club</title>
  </head>
  {% block content %} {% if messages %} {% for message in messages %}
  <div class="container-fluid p-0">
    <div
      class="alert {{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  {% endfor %} {% endif %}
  <body>
    <h1>Edit Book Club: {{ book_club.name }}</h1>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}

      <div></div>

      <label for="members">Members:</label>
      {% for member in book_club.members.all %}
      <div class="col-sm-8">{{ member.username }}</div>
      {% endfor %}

      <button type="submit">Save Changes</button>
    </form>
  </body>
  {% endblock %}
</html>
