{% extends "user/base.html" %}
{% block title%}Create Book Club{% endblock%}
{% block content %}
<body>
<div class="container p-3">
    <div class="row align-items-center vh-100">
        <div class="col-8 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-self-center">
                    <h3 class="card-title">Create Book Club</h3>
                    <form action="" method="POST">
                      {% csrf_token %} 
                      {{ form.as_p }}
                      <div class="text-center">
                        <input type = "submit" value ="Submit" class = "btn btn-dark" >
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
