{% extends "user/base.html" %}
<!DOCTYPE html>
<html>
	<head>
	</head>
	{% block content %}
	<body>
		<div class='container'>
			<center>
				<h1>Create Next Book Poll</h1>
				<p>What book would you want the club to vote on for the next read?</p>
				<form method="POST">
					{% csrf_token %}
					<label >Book 1 </label>
					<input id="book1" type="text" name="book1">
					<label >Book 2 </label>
					<input id="book2" type="text" name="book2">
					<label >Book 3 </label>
					<input id="book3" type="text" name="book3">
					<button class="btn btn-primary" type="submit" name="submit">Submit</button>
				</form>
				{% if previous_form %}
					<h2>Previous Form:</h2>
					<p><u><b>Who Voted: </b></u></p>
					{% for user in who_voted %}
						<p>{{user.username}}</p>
					{% endfor %}
					<p><u><b>Choices:</b></u></p>
					<p>{{choice1.name}}: {{choice1.votes}}</p>
					<p>{{choice2.name}}: {{choice2.votes}}</p>
					<p>{{choice3.name}}: {{choice3.votes}}</p>
				{% endif %}
			</center>
		</div>
	</body>
	{% endblock	%}
</html>
