{% extends "user/base.html" %}
<!DOCTYPE html>

<html>
  <head>
    {% comment %} <title>{% block title %}{% endblock %}</title> {% endcomment %}
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load bootstrap_icons %}
  </head>
  {% block content %}
  <body>
    <div class="container-fluid">
      <h1 class="p-3">Find Your Library</h1>
    </div>

    <div class="container-fluid px-3">
      <form id="searchForm" class="form-inline my-2 my-lg-0" action="{% url 'libraries:library-list' %}">
          {% csrf_token%}
          <div class="row">
          <input class="col-md-8 me-2" id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ search_value }}">
          <button class="col-md-1 btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
          </div>
      </form>
    </div>

    <div class="container-fluid">
      {% for library in page_obj %}
      <h3 class="px-3"><a href="{{ library.get_absolute_url }}">{{ library.branch }}</a></h3>
      <p>
        <address class="fs-4 px-3"> 
        {{ library.address }}, {{ library.city }}, {{ library.postcode }}
        </address> 
        <p class="fs-5 px-3">
        {% bs_icon 'telephone-fill' %} Phone: {{ library.phone }} <br />
        {% bs_icon 'alarm-fill' %} Today's Hours: {{ library.get_today_hours }} <br />
        </p>
        <p class="fs-5 px-3" href="#opening_hours_{{library.id}}" data-bs-toggle="collapse">{% bs_icon 'calendar-event-fill' %}View all opening hours {% bs_icon 'chevron-down' %}</p>
        <p id="opening_hours_{{library.id}}" class="collapse px-3">
            Monday: {% if library.monday == null %} Closed {% else %} {{ library.monday }} {% endif %} <br />
            Tuesday: {% if library.tuesday == null %} Closed {% else %} {{library.tuesday}} {% endif %} <br />
            Wednesday: {% if library.wednesday == null %} Closed {% else %} {{library.wednesday}} {% endif %} <br />
            Thursday: {% if library.thursday == null %} Closed {% else %} {{library.thursday}} {% endif %}<br />
            Friday: {% if library.friday == null %} Closed {% else %} {{ library.friday }} {% endif %} <br />
            Saturday: {% if library.saturday == null %} Closed {% else %} {{ library.saturday }} {% endif %} <br />
            Sunday: {% if library.sunday == null %} Closed {% else %} {{ library.sunday }} {% endif %} <br />
        </p>
        <p class="fs-5 px-3"><a href="{{ library.link }}" style="text-decoration:none; color: unset">{% bs_icon 'info-square-fill' %}Vist library's official page for more details</a></p>
      </p>
      {% endfor %}
    </div>
    
    <div class="d-flex justify-content-center">
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          {% endif %}
        </ul>
      </nav>
    </div>
  </body>
  {% endblock %}
</html>