<!DOCTYPE html>

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load bootstrap_icons %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="project">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </head>

  <body>
    <div class="container-fluid">
      <h1 class="p-3">Find Your Library</h1>
    </div>

    <div class="container-fluid">
      <form id="searchForm" class="form-inline my-2 my-lg-0" action="{% url 'libraries:library-list' %}">
          {% csrf_token%}
          <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ search_value }}">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="container-fluid">
      {% for library in page_obj %}
      <h4 class="px-3"><a href="{{library.link}}">{{ library.branch }}</a></h4>
      <p>
        <address class="fs-4 px-3"> 
        {{ library.address }}, {{ library.city }}, {{ library.postcode }}
        </address> 
        <p class="fs-5 px-3">
        {% bs_icon 'telephone-fill' %} Phone: {{ library.phone }} <br />
        {% bs_icon 'alarm-fill' %} Today's Hours: {{ library.get_today_hours }} <br />
        </p>
        <p class="fs-5 px-3" href="#opening_hours_{{library.id}}" data-bs-toggle="collapse">{% bs_icon 'calendar-event-fill' %}View all opening hours {% bs_icon 'chevron-down' %}</p>
        <p id="opening_hours_{{library.id}}" class="collapse px-3">
            Monday: {{library.monday}} <br />
            Tuesday: {{library.tuesday}} <br />
            Wednesday: {{library.wednesday}} <br />
            Thursday: {{library.thursday}} <br />
            Friday: {{library.friday}} <br />
            Saturday: {{library.saturday}} <br />
            Sunday: {{library.sunday}} <br />
        </p>
      </p>
      {% endfor %}
    </div>

    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}

          {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          {% endif %}
        </ul>
      </nav>
    </div>
  </body>
</html>