{% extends "user/base.html" %}
<!DOCTYPE html>

<html>
  <head>
    {% comment %}
    <title>{% block title %}{% endblock %}</title>
    {% endcomment %} {% load bootstrap5 %} {% bootstrap_css %} {%
    bootstrap_javascript %} {% load bootstrap_icons %}
  </head>
  {% block content %}
  <body>
    <div class="card d-flex align-items-center justify-content-center">
        <h3 class="p-3">{{ library.branch }}</h3>
        <p>
          <address class="fs-4 px-3"> 
          {{ library.address }}, {{ library.city }}, {{ library.postcode }}
          </address> 
          <p class="fs-5 px-3">
          {% bs_icon 'telephone-fill' %} Phone: {{ library.phone }} <br />
          {% bs_icon 'alarm-fill' %} Today's Hours: {{ library.get_today_hours }} <br />
          </p>
          <p class="fs-5 px-3" href="#opening_hours_{{library.id}}" data-bs-toggle="collapse">{% bs_icon 'calendar-event-fill' %}View all opening hours {% bs_icon 'chevron-down' %}</p>
          <p id="opening_hours_{{library.id}}" class="collapse px-3">
              Monday: {% if library.monday == null %} Closed {% else %} {{ library.monday }} {% endif %} <br />
              Tuesday: {% if library.tuesday == null %} Closed {% else %} {{library.tuesday}} {% endif %} <br />
              Wednesday: {% if library.wednesday == null %} Closed {% else %} {{library.wednesday}} {% endif %} <br />
              Thursday: {% if library.thursday == null %} Closed {% else %} {{library.thursday}} {% endif %}<br />
              Friday: {% if library.friday == null %} Closed {% else %} {{ library.friday }} {% endif %} <br />
              Saturday: {% if library.saturday == null %} Closed {% else %} {{ library.saturday }} {% endif %} <br />
              Sunday: {% if library.sunday == null %} Closed {% else %} {{ library.sunday }} {% endif %} <br />
          </p>
          <p class="fs-5 px-3"><a href="{{ library.link }}" style="text-decoration:none; color: unset">{% bs_icon 'info-square-fill' %}Vist library's official page for more details</a></p>
        </p>
    </div>
    {% comment %} <div class="container-fluid">
        <p>Check out our book clubs!</p>
        {% for bc in book_clubs %}
        <li class="card">
            <div>
              <h3 class="card-title">{{bc.name}}</h3>
              <div class="card-content">{{ bc.description }}</div>
            </div>
            <div class="card-link-wrapper">
              <a href="" class="card-link">...</a>
            </div>
        </li>
        {% endfor %}
    </div> {% endcomment %}
    
  </body>
  {% endblock %}
</html>
