asgiref==3.7.2
black==23.10.0
click==8.1.7
crispy-bootstrap4==2022.1
Django==4.2.6
django-crispy-forms==2.0
gunicorn==21.2.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
py3dns==4.0.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
validate-email==1.3
