{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% if user_form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <div id="form_errors">
    {% for key, value in user_form.errors.items %}
    <strong>{{ value }}</strong>
    {% endfor %}
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
  <legend class="border-bottom mb-4">Profile Information:</legend>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="media">
          <div class="media-body">
              <h2 class="account-heading">{{ user_form.instance.username }}
                  <small class="text-muted">({{ user_form.instance.status }})</small>
              </h2>
              <p class="text-secondary">{{ user_form.instance.first_name }} {{ user_form.instance.last_name }}</p>
              <p class="text-secondary">{{ user_form.instance.email }}</p>
          </div>
      </div>
      
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Edit Profile Information</legend>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ user_form.username | as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ user_form.email | as_crispy_field }}
          </div>
        </div> 
      </fieldset>
      <div class="form-group">
        <a href="{% url "users:password_change" %}">Change Password</a>
      </div>
      <br /><br />
      <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
      <button type="reset" class="btn btn-dark btn-lg">Reset</button>
    </form>
</div>
{% endblock start %}
