{% extends "user/base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">You do not have permissions to visit this page! Please sign in first.</p>
                    <a href="{% url 'users:index' %}" class="btn btn-dark">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
